@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root {
    --white-color: #fff;
    --dark-color: #252525;
    --primary-color: #232323;
    --secondary-color: #232323;
    --light-pink-color: #232323;
    --medium-gray-color: #232323;

    -font

}
header{
    background-color: blue;
}